<header id="header" class="header-effect-shrink"
  data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
  <div class="header-body">
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
              <a href="index.html">
                <img alt="SBSB" style="width: 90px; height: auto;"
                     data-sticky-width="90" data-sticky-height="90"
                     src="SBSB-logo.png">
              </a>
            </div>
          </div>
        </div>

        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
              <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle active" href="index.html">Home</a>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="#">Support</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="https://helpdesk.sbsb-eastham.com/" target="_blank">IT Ticket</a>
                        </li>
                        <li><a class="dropdown-item" href="osr.html">Office Service Request</a></li>
                        <li><a class="dropdown-item" href="conf.html">Conf. Room Request</a></li>
                        <li><a class="dropdown-item" href="hrinfo.html">PTO & Benefits Info</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="#">Directory</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="extension.html">Extension List</a></li>
                        <li><a class="dropdown-item" href="orgchart.html">Org Chart</a></li>
                        <li><a class="dropdown-item" href="Help.html">Who to Call</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="event calendar.html">Events</a>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle" href="#">Galleries</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="gallery.html">Christmas Party 2024</a></li>
                        <li><a class="dropdown-item" href="Christmas-2025.html">Christmas Party 2025</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>

              <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
              </button>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

			<hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;" />

